---
layout: default
image:
feature: typewriter.jpg
---

<div class="home">

  <h1 class="page-heading">Recent Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <p class="post-description">
        {% if post.description %}
          {{ post.description | strip_html | strip_newlines | truncate: 120 }}
        {% else %}
          {{ post.content | strip_html | strip_newlines | truncate: 120 }}
        {% endif %}</p>
    </li>
    {% endfor %}
  </ul>

</div>
