<header class="site-header">

  <h1 class="site-title">{{ site.title }}</h1>
  {% if site.description %}
  <h2 class="site-subtitle">{{ site.description }}</h2>
  {% endif %}

  <nav class="site-navigation">
    <div class="wrapper">
      {% for my_page in site.pages %}
      {% if my_page.title %}
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
      {% endfor %}

      {% for link in site.links %}
      <a class="page-link" href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}"
         {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a>
      {% endfor %}
    </div>
  </nav>

</header>
