// Color

$color-light-blue : #8AB9D1; // rgb(138,185,209)
$color-dark-grey  : #999999;
$color-light-grey : #CCCCCC;
$color-shadow-grey: #d9d9d9;

$color-link: #8AB9D1;
$color-accent: #24536B;

$color-title: #FFE4C4;
$color-title-shadow: #8B4513;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;

$font-family-serif:
  "Crimson Text",
  "Hoefler Text",
  "Georgia";

$font-family-chinese:
"PingFang SC",            // OSX ^10.11 & iOS ^9  苹方（华康信凭黑）
"Source Han Sans SC",     // SourceHan - begin    思源黑体
"Hiragino Sans GB",       // OSX ^10.6            冬青黑体
"STHeiti",                // OSX <10.6  & iOS <9  华文黑体
"Microsoft YaHei",        // Win                  微软雅黑
"Microsoft JhengHei",     // Win                  微软正黑
"WenQuanYi Micro Hei",    // Linux                文泉驿微米黑
SimSun;                   // Win old              中易宋体

$font-family-monospace:      Monaco, Consolas, Menlo, "Courier New", monospace !default;


// Our variables
$base-font-family: $font-family-serif, $font-family-chinese, serif !default;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #3b3b3b;
$background-color: #f7f7f7;
$brand-color:      #8AB9D1;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

